grant{
	permission java.net.SocketPermission "*:*","accept,connect,resolve";
	permission java.net.SocketPermission "localhost:9876","listen,resolve";
};